:root {
    --accent-color: #f86;
    --secondary-color: #dc6e3e;
    --background-color: #331b14;

    --main-text-color: #ffe7e0;

    --main-font: "Fredoka", sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    font-weight: normal;
}

header {
    width: 100%;
    height: 120px;
    border-bottom: var(--accent-color) 4px solid;
}

.header-title {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.header-title h1 {
    margin: 0;
    -webkit-text-stroke: 0.15em
        color-mix(in srgb-linear, var(--accent-color), rgb(0, 0, 0) 90%);
    paint-order: stroke fill;
    color: color-mix(in srgb-linear, var(--accent-color), white 50%);
    font-weight: 500;
}

.header-title p {
    margin: 0;
    padding-top: 4px;
    color: var(--main-text-color);
}

.header-logo {
    width: 100px;
    padding: 10px 10px;
}

.header-center {
    display: flex;
    max-width: 1024px;
    margin-inline: auto;
}

/*
====== styles for buttons ======
*/

.ca-button {
    cursor: pointer;
    margin: 4px;
    padding: 6px 8px;
    border-radius: 6px;
    background: linear-gradient(
        180deg,
        color-mix(in srgb, var(--accent-color), rgba(0, 0, 0, 0.25) 75%) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-color: color-mix(
        in srgb,
        var(--accent-color),
        rgba(255, 255, 255, 0.1) 90%
    );
    user-select: none;
    transition-duration: 0.25s;
}

.ca-button:hover {
    text-decoration: none;
    color: color-mix(in srgb, var(--accent-color), white 80%);
    background: linear-gradient(
        180deg,
        color-mix(in srgb, var(--accent-color), rgba(255, 255, 255, 0.25) 50%)
            0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-color: color-mix(in srgb, var(--accent-color), rgb(0, 0, 0) 50%);
}

.ca-button:active {
    background: linear-gradient(
        180deg,
        color-mix(in srgb, var(--accent-color), rgba(0, 0, 0, 0.25) 50%) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-color: color-mix(in srgb, var(--accent-color), rgb(0, 0, 0) 60%);
}

/*
====== misc. ======
*/

.ca-emote {
    height: 1.6em;
    width: auto;
    object-fit: contain;
    margin: -0.45em 0;
}
