<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- discord embed stuff !! !!!!! -->
        <meta property="og:title" content="Cookisite" />
        <meta
            property="og:description"
            content="welcome to my personal website thing!"
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://cookiaria.lol/" />
        <meta
            property="og:image"
            content="https://cookiaria.lol/assets/favicon.png"
        />
        <meta name="theme-color" content="#ff8866" />

        <!-- meta stuff idk -->
        <link rel="icon" href="/todo" type="image/png" />
        <!-- css bullshit here -->

        <title>cookisite real</title>
    </head>
    <body>
        <div id="everything">
            <!-- header -->

            <div id="mainContent">{{ content }}</div>

            <!-- footer -->
        </div>
    </body>
</html>
