<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% include fonts.html %}

        <!-- discord embed stuff !! !!!!! -->
        <meta property="og:title" content="Cookisite" />
        <meta
            property="og:description"
            content="welcome to my personal website thing!"
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://cookiaria.lol/" />
        <meta
            property="og:image"
            content="https://cookiaria.lol/assets/favicon.png"
        />
        <meta name="theme-color" content="#ff8866" />

        <!-- meta stuff idk -->
        <link rel="icon" href="/assets/favicon.ico" type="image/png" />
        <link
            rel="stylesheet"
            href="/assets/css/style.css?v={{ '/assets/css/style.css' | file_mtime | date: '%s'}}"
        />
        <link
            rel="stylesheet"
            href="/assets/css/codeblock.css?v={{ '/assets/css/codeblock.css' | file_mtime | date: '%s'}}"
        />

        <title>cookisite real</title>
    </head>
    <body>
        <div id="everything">
            {% include header.html %}
            <div class="main-stuff">{{ content }}</div>

            <div class="ca-background">
                <div class="ca-backgroundimg"></div>
                <div class="ca-backgroundoverlay"></div>
            </div>
        </div>
    </body>

    <script src="/assets/js/buttons.js"></script>
    <script src="/assets/js/codeblock.js"></script>
</html>
